## Task 1

Dataset includes cancelled (1) and non-cancelled bookings(0)

-Create aggregate sum of cancellations per week

In [ ]:
#downloading data
!wget https://lp-prod-resources.s3.amazonaws.com/250/43958/2021-02-04-19-15-15/H1.csv

--2021-07-08 19:18:25--  https://lp-prod-resources.s3.amazonaws.com/250/43958/2021-02-04-19-15-15/H1.csv
Resolving lp-prod-resources.s3.amazonaws.com (lp-prod-resources.s3.amazonaws.com)... 52.218.136.59
Connecting to lp-prod-resources.s3.amazonaws.com (lp-prod-resources.s3.amazonaws.com)|52.218.136.59|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8060044 (7.7M) [application/octet-stream]
Saving to: ‘H1.csv’

H1.csv              100%[===================>]   7.69M  12.6MB/s    in 0.6s

2021-07-08 19:18:26 (12.6 MB/s) - ‘H1.csv’ saved [8060044/8060044]

In [ ]:
import pandas as pd

In [ ]:
os.listdir()

['.config', 'H1.csv', 'sample_data']

In [ ]:
df=pd.read_csv('H1.csv')

In [ ]:
df.head(1)

   IsCanceled  LeadTime  ...  ReservationStatusDate         date
0           0       342  ...             2015-07-01  2015-July-1

[1 rows x 32 columns]

In [82]:
#creating a date variable
df['date']=df['ArrivalDateYear'].astype(str)+"-"+df['ArrivalDateMonth'].astype(str)+"-"+df['ArrivalDateDayOfMonth'].astype(str)
df['date']=pd.to_datetime(df['date'],format='%Y-%B-%d')
#creating variable and dataframe for the sum of cancel by week
df['DateYW']=df['ArrivalDateYear'].astype(str)+df['ArrivalDateWeekNumber'].astype(str)
dfYW=df.groupby(['DateYW']).IsCanceled.sum()

In [85]:
dfYW.head(3)

DateYW
201527    41
201528    48
201529    87
Name: IsCanceled, dtype: int64